<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imageUrl" alt="{{ recipe.name}}" class="img-responsive"/>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage recipe  <span class="fa fa-caret-down"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onAddIngredientsToShoppingList()">
              <span class="fa fa-cart-plus"></span> To Shopping List
            </a>
        </li>
        <li><a style="cursor: pointer;" [routerLink]="['edit']"><span class="fa fa-pencil"></span> Edit Recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()"><span class="fa fa-trash"></span> Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
